body {
  margin: 0;
  background-color: transparent;
  overflow: hidden;
}

.button-container {
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  background-color: #9147ff;
  color: white;
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 6px 0 #5c2dbd;
  transition: all 0.1s ease-in-out;
}

.btn:active {
  transform: translateY(6px);
  box-shadow: none;
}
